.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  background-color: #595959
}

/******************   Nav Section ************************/
nav {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  border-bottom: 1px solid #000;
  padding: 20px 20px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: large;
}

/***********************  Footer Section   **************************/
footer {
  color: #ffffff;
  border-top: 1px solid #000000;
  display: flex;
  justify-content: center;
  gap: 20px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: medium;
  padding: 10px 0px;
} 

/*********** Splash Page ************************/
header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header h1 {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: xx-large;
  color: #ffffff;
  margin-bottom: 5px;
}
  
header img {
  border-radius: 25%;
  margin: 20px;
}

.address {
  display: flex;
  justify-content: center;
  font-family: "Lato", sans-serif;
  color: #ffffff;
  margin-top: 0px;
  padding-bottom: 30px;
}

.tagline {
  display: flex;
  justify-content: center;
  font-family: "Lato", sans-serif;
  color: #ffffff;
  margin-top: -20px;
  margin-bottom: -8px;
  padding-bottom: 20px;
}

/************* Sections ********************/
hr {
  border: 0;
  height: 1px;
  background-color: #000000;
}

section h2 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: xx-large;
  color: #ffffff;
  margin-bottom: -16px;
  margin-top: -8px;
  padding: 20px;

}

section h3 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  color: #ffffff;
  padding-top: 10px;
}

section dl {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  display: grid;
  gap: 10px;
  grid-template-columns: 300px auto;
  color: white;
  padding-left: 40px;
}

section ul {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: white;
  padding-left: 55px;
}

section a {
  color: #0000EE;
  text-decoration: none;
}

section a:hover {
  text-decoration: underline;
}

/**************   Projects   *****************/
.three-col {
	display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 20px;
}

.card img {
  border-radius: 25px;
  padding: 5px;
}

.card {
  background-color: #2c2c2c;
  border-radius: 25px;
  padding: 10px;
  box-shadow: #000 3px 3px 5px;
}

/**************   Responsiveness   *****************/
@media (max-width: 680px) {
    nav {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.75em;
    }

    .three-col {
      grid-template-columns: 1fr;
    }
}

/**************   Contact Page   *****************/
.one-col {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding-right: 900px;
  padding-left: 50px;
  margin: 20px;
  font-family: "Lato", sans-serif;
  color: #ffffff;
}

input {
  font-family: "Lato", sans-serif;
  font-size: medium;
  color: #000000;

}

textarea {
  font-family: "Lato", sans-serif;
  font-size: medium;
  color: #000000;
}